################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/crudcore/.vs/crudcore/FileContentIndex/705a405f-7fbe-46b4-afaf-6c7dffe9c335.vsidx
/crudcore/.vs/crudcore/FileContentIndex/cdc1f522-4731-48a7-ae3f-c8047d29c229.vsidx
