################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/crudcore/.vs/crudcore/FileContentIndex/5179067b-c63b-4210-819f-571e32f1d5b4.vsidx
/crudcore/.vs/crudcore/FileContentIndex/d7faf4e0-98f9-44e0-88ce-1d6f4e0b3224.vsidx
